* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem; /* medida relativa ao tamanho da fonte do browser do usuário */
    background-color: #fff;
}

.content h1 {
    margin: 0;
}


.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 992px) { /*estilo será aplicado quando a tela chegar a esse tamanho*/
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 380px) { /*estilo será aplicado quando a tela chegar a esse tamanho*/
    .pokemons {
        grid-template-columns: 1fr 1fr; /* quando a tela atingir o tamanho de 380 px, adiciona uma coluna no grid */
    }
}

@media screen and (min-width: 576px) { /*estilo será aplicado quando a tela chegar a esse tamanho*/
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) { /*estilo será aplicado quando a tela chegar a esse tamanho*/
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

